/* Custom global styling */
:root {
    font-size: 62.5%;
    --font-heading: 'Oswald', sans-serif;
    --font-main: 'Quattrocento', serif;
}

/* Custom font and size styling */
body {
    color: #474849;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.65rem;
    line-height: 1.7;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: 400;
}

h1 {
   font-size: 8rem;
   text-align: center; 
}

h2 {
   font-size: 5rem; 
}

h3 {
   font-size: 3rem; 
}

h4 {
   font-size: 2rem; 
}

.card-header {
    background-color: rgba(0, 0, 255, 0.141);
}

.card-header h4 {
    font-family: var(--font-heading);
    display: inline;
}

.form-control {
    font-size: 2rem;
}

#search {
    padding: 5%;
}

#search-history li {
    font-family: var(--font-heading);
    font-size: 1.65rem;
}

.img-resize {
    display: inline;
    height: 3rem;
}

/* Custom color styling */
.jumbotron {
    background-color: #EB6E4C;
    color: var(--white);
}

.greenUV {
    background-color: var(--green);
}

.yellowUV {
    background-color: var(--yellow);
}

.orangeUV {
    background-color: var(--orange);
}

.redUV {
    background-color: var(--red);
}

.purpleUV {
    background: var(--pink);
}

/* Custom button styling */
#search-button, 
#clear-button {
    font-family: var(--font-heading);
    background-color: #EB6E4C;
    border-color: #EB6E4C;
}

#search-button {
    font-size: 2rem;
}

#clear-button {
    font-size: 1.65rem;
}